discord.py-self
colorama
curl_cffi
httpx
asyncio
python-dotenv
pyYAML
requests
groq
openai
asyncio
colorama
curl_cffi
discord.py-self
groq
httpx
openai
python-dotenv
pyYAML
requests
colorama
curl_cffi
discord-py
discord.py-self
groq
httpx
openai
python-dotenv
pyYAML
requests
